<%= stylesheet_link_tag "pages" %>

<body>
    <script> 
        document.getElementById("logo").remove();
    </script>  
    <div id="page-container">
        <div style="padding-top: 128px; position: relative; min-width: 450px; max-width: 750px;">
            <p style="font-size: clamp(120%, 180%, 1.8vw); color:#FAFAFA; margin-bottom: 0px;">Hi, my name is</p>
            <p style="font-size: clamp(400%, 600%, 6vw); color:#FAFAFA; margin-bottom: 0px; line-height:">Tareq Alyousef</p>
            <p style="font-size: clamp(120%, 180%, 1.8vw); color:#FAFAFA; margin-bottom: 32px;">I'm a student with a passion for data science, game development, and finance.</p>
            <a href="mailto:thlyusef@memphis.edu" class="btn-gradient" style="margin-left: 0px;"><span style="transform: skew(-20deg);">Contact me</span></a>
        </div>
    </div>
    <div id="footer">
        <a href="https://www.linkedin.com/in/tareq-alyousef-462930209/" target="_blank" class="glow-icon"> <i class="fab fa-linkedin-in fa-3x" style="color:#FAFAFA; margin-left: 8px; margin-right: 8px"></i> </a>
        <a href="https://github.com/tareqalyousef" target="_blank" class="glow-icon"> <i class="fab fa-github fa-3x" style="color:#FAFAFA;margin-left: 8px; margin-right: 8px"></i> </a>
    </div>
</body>
</html>